
<body ng-app='indexController'>
  <div ng-controller='indexCtrl' class='container'>
    <h1 class='text-center'>Want to know what two movies have in common?</h1>
    <div class=''>
      <div class='' ng-hide='searchs.search1.done'>
        <div class='row'>
          <span class='col-lg-3'></span>
          <h5 class='col-lg-6'>Search for the first movie:</h5>
        </div>
        <div class='row'>
          <span class='col-lg-3'></span>
          <form class='col-lg-6 center-block' ng-submit='search_movies(searchs.search1.query, searchs.search1, searchs)'>
            <div class='input-group'>
              <input type=text class='form-control' placeholder="Search" ng-model='searchs.search1.query'>
              <span class='input-group-btn'><input type='submit' class='btn btn-primary'>Search</input></span>

            </div>
          </form>
        </div>
        <div>
          <div ng-repeat='movie in searchs.search1.result' class='search_results center-block row'>
            <img ng-src='https://image.tmdb.org/t/p/w185{[movie.poster_path]}' onerror="this.style.display='none';"><h3>{[movie.title]} ({[movie.release_date.substring(0,4)]})</h3><button class='btn select-btn' ng-click='search_single({ id: movie.id, title: movie.title }, searchs.search1, searchs)'>Select</button>
          </div>
        </div>
      </div>

      <div class='' ng-show="searchs.search1.done && !searchs.search2.done">
        <div class='row'>
          <span class='col-lg-3'></span>
          <h5 class='col-lg-6'>Search for the second movie:</h5>
        </div>
        <div class='row'>
          <span class='col-lg-3'></span>
          <form class='col-lg-6 center-block' ng-submit='search_movies(searchs.search2.query, searchs.search2, searchs)'>
            <div class='input-group'>
              <input type=text class='form-control' placeholder="Search" ng-model='searchs.search2.query'>
              <span class='input-group-btn'><input type='submit' class='btn btn-primary'>Search</input></span>

            </div>
          </form>
        </div>
        <div class='row'>
          <span class='col-lg-3'></span>
            <h5 class='prev_search col-lg-6'>The first movie selected was: {[searchs.search1.result.title]} <button ng-click='resetSearchs()' class='btn btn-warning'>Change Selection</button></h5>
        </div>
        <div>
          <div ng-repeat='movie in searchs.search2.result' class='search_results center-block row'>
            <img ng-src='https://image.tmdb.org/t/p/w185{[movie.poster_path]}' onerror="this.style.display='none';"><h3>{[movie.title]} ({[movie.release_date.substring(0,4)]})</h3><button class='btn' ng-click='search_single({ id: movie.id, title: movie.title }, searchs.search2, searchs)'>Select</button>
          </div>
        </div>
      </div>

      <div class='col-lg-2' ng-show="searchs.search1.done && searchs.search2.done"></div>
      <div class='col-lg-8 center-block' ng-show="searchs.search1.done && searchs.search2.done">
        <h4>Here are the cross people <button ng-click='resetSearchs()' class='btn btn-warning'>Reset Searchs</button></h4>
          <div ng-repeat='person in searchs.compared'>
            <p>
              {[person.name]}:
            </p>
            <ul>
              <li ng-repeat='role in person.role'>
                {[role.job]} - {[role.movie]}
              </li>
            </ul>
          </div>
      </div>

    </div>
  </div>
</body>
