<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.min.css' />
    <script src="/node_modules/angular/angular.js"></script>
    <script src={{controller}}></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
